<div class="profile-company-section">
    <div class="profile-pic">
      <img src="/img/<%= perusahaan.photo_perusahaan %>" alt="profile" />
    </div>
    <div class="profile-wrapper">
      <div class="profile-company-name">
        <h1>Detail Pemesanan Pelayanan</h1>
      </div>
      <div class="histori-detail-menu">
        <div class="histori-detail-menu-option">
          <h2>Nama Proyek</h2>
          <p><%= proyek.nama_proyek %></p>
        </div>
        <div class="histori-detail-menu-option">
          <h2>Jenis Pelayanan</h2>
          <p>Pembelian Obat</p>
        </div>
        <div class="histori-detail-menu-option">
          <h2>Nomor Pesanan</h2>
          <p><%=  pelayanan.nomorpesanan %></p>
        </div>
        <div class="histori-detail-menu-option">
          <h2>Lokasi Pengiriman</h2>
          <p><%= pelayanan.lokasi_pengirimanobat %></p>
        </div>
        <div class="histori-detail-menu-option">
          <h2>Status Pelayanan</h2>
          <% if (pelayanan.status_pesanan === 3) { %>
              <p class="belum-dilayani">Belum Dilayani</p>
          <% } else if (pelayanan.status_pesanan === 2) { %>
              <p class="dalam-proses">Dalam Proses</p>
          <% } else if (pelayanan.status_pesanan === 1) { %>
              <p class="sudah-dilayani">Sudah Dilayani</p>
          <% } else { %>
              <p class="status-unknown">Status tidak diketahui</p>
          <% } %>
      </div>
        <div class="histori-detail-menu-option">
          <h2>Tanggal Pemesanan</h2>
          <p><%= pelayanan.tgl_pemesananobat %></p>
        </div>
        <div class="histori-detail-menu-option">
          <h2>Tanggal Pengiriman</h2>
          <p><%= pelayanan.tgl_pengiriman %></p>
        </div>
      </div>
      <div class="catatan-darurat">
      <h2>Catatan Tambahan</h2>
      <p><%= pelayanan.catatantambahanobat %></p>
    </div>
      <div class="dokter-bertugas">
        <div class="dokter-bertugas-title">
          <h3>Keranjang <span>Obat - Obatan</span> </h2>
        </div>
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Obat</th>
              <th>Jumlah</th>
            </tr>
          </thead>
          <tbody>
            <% pelayanan.keranjangData.forEach((item, index) => { %>
              <tr>
                  <td><%= index + 1 %></td>
                  <td><%= item.nama_obat %></td>
                  <td><%= item.jumlah_obat %></td>
              </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="histori-button">
          <a href="/profile_client" class="btn btn-back">Kembali</a>
      </div>
    </div>
  </div>
  

  <style>
    .catatan-darurat {
      margin-top: 20px;
      padding: 50px;
    }
    .catatan-darurat h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      color: var(--secondary-color);
      font-family: var(--questrial-font);
    }
    .catatan-darurat p {
      font-size: 16px;
      font-weight: 400;
      color: var(--secondary-color);
      font-family: var(--questrial-font);
    }
  </style>