<div class="pelayanan_admin_section">
  <div class="pelayanan_dashboard_wrapper">
    <div class="PAdmin_left">
      <div class="Padmin_title">
        <h1>Detail <span>Proyek</span></h1>
      </div>
      <div class="Padmin_notifikasi_responsive" id="none">
        <div class="Padmin_notifikasi_wrapper" id="Padmin_notifikasi_wrapper">
          <div class="Padmin_notifikasi_title" id="Padmin_notifikasi_title">
            <h2>Notifikasi <span>Pesan</span></h2>
          </div>
          <div class="Padmin_notifikasi_content" id="Padmin_notifikasi_content">
            <div class="notifikasi_content" id="notifikasi_content">
              <div class="notifikasi_content_icon" id="notifikasi_content_icon_darurat">
                <i class="fa-solid fa-bell"></i>
                <div class="notifikasi_content_pesan" id="notifikasi_content_pesan">
                  <p>Ada 2 pelayanan darurat yang belum dilayani</p>
                </div>
              </div>
              <div class="notifikasi_content_detail" id="notifikasi_content_detail_darurat">
                <a href="#">Lihat Pesanan</a>
              </div>
            </div>
            <div class="notifikasi_content" id="notifikasi_content">
              <div class="notifikasi_content_icon" id="notifikasi_content_icon">
                <i class="fa-solid fa-bell"></i>
                <div class="notifikasi_content_pesan" id="notifikasi_content_pesan">
                  <p>Ada 2 pelayanan darurat yang belum dilayani</p>
                </div>
              </div>
              <div class="notifikasi_content_detail" id="notifikasi_content_detail">
                <a href="#">Lihat Pesanan</a>
              </div>
            </div>
            <div class="notifikasi_content" id="notifikasi_content">
              <div class="notifikasi_content_icon" id="notifikasi_content_icon">
                <i class="fa-solid fa-bell"></i>
                <div class="notifikasi_content_pesan" id="notifikasi_content_pesan">
                  <p>Ada 2 pelayanan darurat yang belum dilayani</p>
                </div>
              </div>
              <div class="notifikasi_content_detail" id="notifikasi_content_detail">
                <a href="#">Lihat Pesanan</a>
              </div>
            </div>
            <div class="notifikasi_content" id="notifikasi_content">
              <div class="notifikasi_content_icon" id="notifikasi_content_icon">
                <i class="fa-solid fa-bell"></i>
                <div class="notifikasi_content_pesan" id="notifikasi_content_pesan">
                  <p>Ada 2 pelayanan darurat yang belum dilayani</p>
                </div>
              </div>
              <div class="notifikasi_content_detail" id="notifikasi_content_detail">
                <a href="#">Lihat Pesanan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Padmin_pelayananmasuk">
        <div class="Padmin_pelayananmasuk_wrapper">
          <div class="Padmin_pelayananmasuk_pic">
            <img src="/img/<%= DataProyek.photo_perusahaan %>" alt="" />
          </div>
          <div class="Padmin_pelayananmasuk_data">
            <div class="Padmin_pelayananmasuk_datamenu">
              <h3>Nama Perusahaan</h3>
              <p><i class="fa-solid fa-building"></i><%= DataProyek.nama_perusahaan %></p>
            </div>
            <div class="Padmin_pelayananmasuk_datamenu">
              <h3>Nama Proyek</h3>
              <p><i class="fa-solid fa-school-circle-check"></i><%= DataProyek.nama_proyek %></p>
            </div>
            <div class="Padmin_pelayananmasuk_datamenu">
              <h3>Jumlah Karyawan</h3>
              <p><i class="fa-solid fa-users"></i><%= DataProyek.jumlah_proyek %> Orang</p>
            </div>
            <div class="Padmin_pelayananmasuk_datamenu">
              <h3>Nomor Telepon</h3>
              <p><i class="fa-solid fa-square-phone"></i><%= DataProyek.nomortelepon_proyek %></p>
            </div>
            <div class="Padmin_pelayananmasuk_datamenu">
              <h3>Status</h3>
              <p id="<%= DataProyek.status_proyek === 1 ? 'greens' : 'red' %>" class="status-pelayanan"><%= DataProyek.status_proyek === 1 ? 'Aktif' : 'Tidak Aktif' %></p>
            </div>
          </div>
          <div class="Padmin_pelayananmasuk_catatan">
            <h2>Lokasi Proyek</h2>
            <p><%= DataProyek.lokasi_proyek %></p>
          </div>
          <div class="Padmin_pelayananmasuk_catatan">
            <h2>Deskripsi Proyek</h2>
            <p><%= DataProyek.deskripsi_proyek %></p>
          </div>
          <div class="edit-all-button">
            <div class="edit-menu-button">
              <a href="/EditDetailProyekP_admin/<%= DataProyek.id_proyek %>">Edit Proyek</a>
            </div>
            <div class="back-menu-button">
              <a href="#" id="deleteButton">Hapus Proyek</a>
            </div>
          </div>
        </div>
      </div>

      <div class="Padmin_notifikasi_obatvaksin_responsive" id="none">
        <div class="Padmin_notifikasi_obatvaksin">
          <div class="Padmin_notifikasi_title">
            <h2>Stok<span>Obat</span></h2>
          </div>
          <div class="Padmin_stok_obatvaksin">
            <a href="/StokObat_admin">Lihat Stok Obat</a>
          </div>
        </div>
        <div class="Padmin_notifikasi_obatvaksin">
          <div class="Padmin_notifikasi_title">
            <h2>Stok<span>Vaksin</span></h2>
          </div>
          <div class="Padmin_stok_obatvaksin">
            <a href="/StokVaksin_admin">Lihat Stok Vaksin</a>
          </div>
        </div>
      </div>
    </div>
    <div class="PAdmin_right">
      <div class="Padmin_notifikasi_wrapper">
        <div class="Padmin_notifikasi_title">
          <h2>Notifikasi <span>Pesan</span></h2>
        </div>
        <div class="Padmin_notifikasi_content">
          <div class="Padmin_notifikasi_darurat">
            <div class="Padmin_notifikasi_darurat_icon">
              <i class="fa-solid fa-bell"></i>
            </div>
            <div class="Padmin_notifikasi_darurat_text">
              <p>Ada 2 pelayanan darurat yang belum dilayani</p>
            </div>
          </div>
          <div class="Padmin_notifikasi_detail">
            <a href="/LDarurat_admin">Lihat Pesanan</a>
          </div>
          <div class="Padmin_notifikasi_medical">
            <div class="Padmin_notifikasi_medical_icon">
              <i class="fa-solid fa-bell"></i>
            </div>
            <div class="Padmin_notifikasi_medical_text">
              <p>Ada 2 pelayanan medical check up yang belum dilayani</p>
            </div>
          </div>
          <div class="Padmin_notifikasi_detail" id="Padmin_notifikasi_detail">
            <a href="/LMedical_admin">Lihat Pesanan</a>
          </div>
          <div class="Padmin_notifikasi_vaksin">
            <div class="Padmin_notifikasi_vaksin_icon">
              <i class="fa-solid fa-bell"></i>
            </div>
            <div class="Padmin_notifikasi_vaksin_text">
              <p>Ada 2 pelayanan vaksinasi yang belum dilayani</p>
            </div>
          </div>
          <div class="Padmin_notifikasi_detail" id="Padmin_notifikasi_detail">
            <a href="/LVaksin_admin">Lihat Pesanan</a>
          </div>
          <div class="Padmin_notifikasi_vaksin">
            <div class="Padmin_notifikasi_vaksin_icon">
              <i class="fa-solid fa-bell"></i>
            </div>
            <div class="Padmin_notifikasi_vaksin_text">
              <p>Ada 2 permintaan penambahan proyek yang belum dikonfirmasi</p>
            </div>
          </div>
          <div class="Padmin_notifikasi_detail" id="Padmin_notifikasi_detail">
            <a href="/index_admin">Lihat Pesanan</a>
          </div>
          <div class="Padmin_notifikasi_obatvaksin">
            <div class="Padmin_notifikasi_title">
              <h2>Stok<span>Obat</span></h2>
            </div>
            <div class="Padmin_stok_obatvaksin">
              <a href="/StokObat_admin">Lihat Stok Obat</a>
            </div>
          </div>
          <div class="Padmin_notifikasi_obatvaksin">
            <div class="Padmin_notifikasi_title">
              <h2>Stok<span>Vaksin</span></h2>
            </div>
            <div class="Padmin_stok_obatvaksin">
              <a href="/StokVaksin_admin">Lihat Stok Vaksin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("deleteButton").addEventListener("click", function () {
    event.preventDefault();
    if (confirm("Apakah Anda yakin ingin menghapus proyek ini?")) {
      const id_proyek = "<%= DataProyek.id_proyek %>";
      // fetch '/deleteProyekP_admin/:id_proyek'
      fetch(`/deleteProyekP_admin/${id_proyek}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            alert(data.message);
            window.location.href = "/LPerusahaan_admin"; // Redirect to an appropriate page after deletion
          } else {
            alert("Failed to delete data");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while deleting the data");
        });
    }
  });
</script>
