<div class="pelayanan_admin_section">
  <div class="pelayanan_dashboard_wrapper">
    <div class="PAdmin_left">
      <div class="Padmin_title">
        <h1>Data<span> Rekam Medis</span></h1>
      </div>
      <div class="Padmin_pelayananmasuk">
        <div class="detail-pesanan">
          <div class="detail-pesanan-info">
            <h3>Nama Perusahaan</h3>
            <p>: <%= orderDetails.nama_perusahaan %></p>
          </div>
          <div class="detail-pesanan-info">
            <h3>Nama Proyek</h3>
            <p>: <%= orderDetails.nama_proyek %></p>
          </div>
          <div class="detail-pesanan-info">
            <h3>Nomor Pesanan</h3>
            <p>: <%= orderDetails.nomorpesanan %></p>
          </div>
          <div class="detail-pesanan-info">
            <h3>Jenis Pelayanan</h3>
            <p>: <%= orderDetails.jenis_pelayanan %></p>
          </div>
          <div class="detail-pesanan-info">
            <h3>Tanggal Pelayanan</h3>
            <p>: <%= orderDetails.tanggal_pelayanan %></p>
          </div>
          <div class="detail-pesanan-info">
            <h3>Total Rekam Medis</h3>
            <p>: <%= totalMedicalRecords %> /<%= orderDetails.jumlahpasien_medical %></p>
          </div>
        </div>
        <div class="Padmin_pelayananmasuk_search">
          <input type="text" id="searchInput" placeholder="Masukan nama pasien atau nomor rekam medis untuk mencari rekam medis . . ." />
          <button id="searchButton"><i class="fa-solid fa-search"></i></button>
        </div>
        <div class="Padmin_pelayananmasuk_table">
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Nomor Rekam Medis</th>
                <th>Nama Pasien</th>
                <th>Jenis Kelamin</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if (medicalRecords.length > 0) { %> <% medicalRecords.forEach((record, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= record.nomor_rmMedical %></td>
                <td><%= record.nama_lengkap %></td>
                <td><%= record.jenis_kelamin %></td>
                <td>
                  <a href="/DetailrmMedical_admin/<%= record.nomor_rmMedical %>" class="btn btn-primary">Lihat Detail</a>
                </td>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="5">Tidak ada data rekam medis yang ditemukan.</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .fa-trash-can:hover {
    color: var(--red-color);
    cursor: pointer;
  }
  .detail-pesanan {
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    margin-top: 20px;
    border: 3px solid var(--secondary-color);
    margin-bottom: 30px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .detail-pesanan .detail-pesanan-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: left !important;
    padding: 5px 15px;
    font-family: var(--questrial-font);
  }
  .detail-pesanan-info h3 {
    /* background-color: aqua; */
    width: 250px;
    font-size: 0.8rem;
    color: var(--secondary-color);
  }
  .detail-pesanan-info p {
    width: 100%;
    /* background-color: red; */
    font-size: 0.8rem;
    color: var(--secondary-color);
  }
  .pelayanan_dashboard_wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Padmin_pelayananmasuk {
    padding: 10px;
  }
</style>
