<div class="pelayanan_admin_section">
  <div class="pelayanan_dashboard_wrapper">
    <div class="PAdmin_left">
      <div class="Padmin_title">
        <h1>Detail Data<span> Rekam Medis</span></h1>
      </div>
      <div class="Padmin_pelayananmasuk">
        <form class="Padmin_formulir_rekammedis">
          <div class="Padmin_formulir_datadiri" id="Padmin_formulir_datadiri">
            <div class="Padmin_formulir_title">
              <h3>Data Pribadi Pasien</h3>
            </div>
            <div class="Padmin_formulir_input">
              <div class="Padmin_formulir_input_option">
                <label for="nama_lengkap">Nama Lengkap</label>
                <h4>: <%= results.nama_lengkap %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="nik">Nomor Identitas (NIK)</label>
                <h4>: <%= results.nomor_identitas %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="tanggal_lahir">Tanggal Lahir</label>
                <h4>: <%= results.tanggal_lahir %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="jenis_kelamin">Jenis Kelamin</label>
                <h4>: <%= results.jenis_kelamin %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="nomor_telepon">Nomor Telepon</label>
                <h4>: <%= results.nomor_telepon %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="email">Email</label>
                <h4>: <%= results.email %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="alamat">Alamat</label>
                <h4>: <%= results.alamat %></h4>
              </div>
            </div>
          </div>
          <div class="Padmin_formulir_datadiri" id="Padmin_formulir_datadiri">
            <div class="Padmin_formulir_title">
              <h3>Informasi Vaksinasi</h3>
            </div>
            <div class="Padmin_formulir_input">
              <div class="Padmin_formulir_input_option">
                <label for="jenis_vaksin">Jenis Vaksin</label>
                <h4>: <%= results.jenis_vaksin %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="tanggal_vaksin">Tanggal Vaksinasi</label>
                <h4>: <%= results.tanggal_vaksinasi %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="lokasi_vaksin">Lokasi Vaksinasi</label>
                <h4>: <%= results.lokasi_vaksinasi %></h4>
              </div>
            </div>
          </div>
          <div class="Padmin_formulir_datadiri" id="Padmin_formulir_datadiri">
            <div class="Padmin_formulir_title">
              <h3>Hasil Kondisi Setelah Menerima Vaksin</h3>
            </div>
            <div class="Padmin_formulir_input">
              <div class="Padmin_formulir_input_option">
                <label for="reaksi_vaksin">Reaksi Setelah Vaksinasi</label>
                <h4>: <%= results.reaksi_pasien %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="deskripsi_kondisi">Deskripsi Kondisi Setelah Vaksinasi</label>
                <h4>: <%= results.deskripsi_kondisi %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="perawatan_lanjutan">Perawatan Lanjutan (Jika Ada)</label>
                <h4>: <%= results.perawatan_lanjutan %></h4>
              </div>
            </div>
          </div>
          <div class="Padmin_formulir_datadiri" id="Padmin_formulir_datadiri">
            <div class="Padmin_formulir_title">
              <h3>Identitas Pemberi Vaksin</h3>
            </div>
            <div class="Padmin_formulir_input">
              <div class="Padmin_formulir_input_option">
                <label for="nama_pemberi_vaksin">Nama Pemberi Vaksin</label>
                <h4>: <%= results.namalengkap_stafkesehatan %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="jabatan_pemberi_vaksin">Jabatan Pemberi Vaksin</label>
                <h4>: <%= results.spesialisasi_stafkesehatan %></h4>
              </div>
              <div class="Padmin_formulir_input_option">
                <label for="nomor_telepon_pemberi">Nomor Telepon Pemberi Vaksin</label>
                <h4>: <%= results.nomortelepon_stafkesehatan %></h4>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .pelayanan_dashboard_wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Padmin_pelayananmasuk {
    padding: 10px;
    padding-right: 20px;
    padding-left: 0px;
  }
</style>
